h1{
    padding-top: 600px;
}

form{
    padding-top: 50px;
}

.card{
    margin-top: 50px;
    margin-left: 100px;
}

img{
    height: 50px;
    width: 50px;
}

body{
    font-family: sans-serif;
  background-image: url('/img/Logo2.jpg');
}

.center {
    padding-top: 30px;
    padding-left: 250px;
    /* padding: 70px 0; */
    text-align: center;
    width: 1200px;
    font-family: sans-serif;
    font-size: 20px;
}

  